


.container {
	background-image: url("/apple-pie/images/apple-pie.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    height: 150px;
	display: flex; 
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2cm;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 200px 0px 200px 0px;
}
p{  
	text-indent: 30px;
	text-align: justify;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
pre{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
height: 10vh;
}
.containerRecipe {
display: flex;
justify-content: center;
}
img{ height: 10vh;
}
.containerCooking {
	display:flex;
	justify-content: center;
}